public_html/core
public_html/mu-plugins/*
!public_html/mu-plugins/replace-fragment
!public_html/mu-plugins/bedrock-autoloader.php
!public_html/mu-plugins/random-urn-for-post-guid.php
!public_html/mu-plugins/wp-option-from-constant.php
public_html/themes
public_html/languages
public_html/uploads
public_html/upgrade
public_html/cache

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

#build output
dist